<ul class="nav">
    {% if include.home %}
    {% for item in site.data.header %}
    {% if item != site.data.header[0] %}
    <li><a href="{{ item.url }}"{% if item.target %} target="{{ item.target }}"{% endif %}>{{ item.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% else %}
    {% assign activeURL = page.url | remove_first: "index.html" %}
    {% for item in site.data.header %}
    {% if activeURL == item.url %}
    <li class="active">{{ item.title }}</li>
    {% else %}
    <li><a href="{{ item.url }}"{% if item.target %} target="{{ item.target }}"{% endif %}>{{ item.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% endif %}
</ul>