:root {
    // sets font size to 10px default, useful with rem values
    font-size: 62.5%;
}

html {
    background: $color-bg;
}

body {
    margin: 0;
    color: $color-primary;
    font-size: 1.9rem;
    font-family: Lora, serif;
    line-height: 1.6;
    letter-spacing: .02rem;
}

a, a:active, a:visited {
    color: $color-link;
    text-decoration: none;
    img {
        border: .1rem solid $color-link;
    }
}

a:hover {
    color: $color-primary;
    img {
        border: .1rem solid $color-secondary;
    }
}

img {
    max-width: 100%;
}

.active {
    text-decoration: underline;
    cursor: default;
}

::selection {
    background: $color-highlight-bg;
    color: $color-highlight;
}

.content {
    width: 700px;
}

h1, h2, h3, h4, th, .title {
    line-height: 1.2;
}

h1 {
    margin: 1rem 0;
    font-size: 3.7rem;
    + .excerpt {
        margin-top: 1.6rem;
    }
}

h2, h3, h4 {
    margin: 2.4rem 0 1rem 0;
    + h2, + h3, + h4 {
        margin: 1rem 0;
    }
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.1rem;
}

p {
    margin: 1rem 0 1.6rem 0;
    text-align: justify;
    hyphens: auto;
}

sup, sub {
    font-size: 0.7em;
    line-height: 0;
}

dd {
    font-size: 1.6rem;
    + dt {
        margin-top: 1rem;
    }
}

code {
    padding: .2rem;
    background: $color-shade;
    border: .1rem solid $color-border;
    border-radius: .4rem;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 1.4rem;
    white-space: nowrap;
}

pre.highlight {
    padding: .9rem 1.3rem;
    overflow-x: auto;
    background: $color-shade;
    border: .1rem solid $color-border;
    font-size: 1.4rem;
    code {
        padding: 0;
        background: none;
        border: 0;
        border-radius: 0;
        white-space: pre;
    }
}

hr {
    border: .1rem solid $color-border;
    margin: 2rem 0;
}

// functional

.left, .right {
    + p {
        margin-top: 0;
    }
    // fixed width
    &.fixed {
        width: 28rem;
    }
}

.left {
    float: left;
    margin-right: 2rem;
}

.right {
    float: right;
    margin-left: 2rem;
}

// use in cases where non-breaking text improves comprehension
.nbText {
    white-space: nowrap;
}

.darkText {
    color: $color-shade !important;
}

// no indent paragraph
.nip {
    text-indent: 0 !important;
}

// used for forcing a new line in flex containers
.flexBreak {
    width: 100%;
}

// lists

ol.lowercase {
    list-style-type: lower-alpha;
}

ul.arrow {
    list-style-type: "↳";
    li {
        padding-left: .5rem;
    }
}

// home and landing

.home, .landing {
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    text-transform: uppercase;
    h1 {
        text-align: center;
        font-size: 4.5vw;
        font-weight: 600;
        letter-spacing: .08rem;
    }
}

.landing {
    flex-direction: column;
}

// footnotes
.footnotes {
    &::before {
        content: "Footnotes:";
    }
    clear: both;
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: .1rem solid $color-border;
    color: $color-secondary;
    font-size: 1.4rem;
    ol {
        margin: 1rem 0 1.6rem 0;
        p {
            margin: .2rem 0 0 0;
        }
    }
}

// font faces

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-VariableFont_wght.ttf);
    font-display: swap;
}
    
@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Italic-VariableFont_wght.ttf);
    font-style: italic;
    font-display: swap;
}