// numbers in the comments below refer to their colour value in Material Design 3

// highlight is when you select text
$color-highlight: #dde3ea !default; // 90
$color-highlight-bg: #72787e !default; // 50

$color-link: #ecf1f9 !default; // 95
$color-primary: #c1c7ce !default; // 80
$color-secondary: #a6acb3 !default; // 70
$color-tertiary: #8b9198 !default; // 60
$color-border: #595f65 !default; // 40
$color-shade: #2b3137 !default; // 20
$color-bg: #161c21 !default; // 10