/* colour theme — created with Material Design 3 */
/* use https://www.figma.com/community/plugin/1034969338659738588/Material-Theme-Builder to generate a new theme */

/* Neutral-Variant */
$NV100: #ffffff !default;
$NV99: #fdfbff !default;
$NV95: #eff0fa !default;
$NV90: #e0e2ec !default;
$NV80: #c4c6d0 !default;
$NV70: #a9abb4 !default;
$NV60: #8e9099 !default;
$NV50: #74777f !default;
$NV40: #5b5e66 !default;
$NV30: #44474e !default;
$NV20: #2d3038 !default;
$NV10: #181c22 !default;
$NV0: #000000 !default;