.header {
    margin-bottom: 2.7rem;
    width: 100%;
    border-bottom: .1rem solid $color-border;
    background: $color-shade;
    background: linear-gradient(0deg, $color-shade 0%, $color-bg 100%);
    .content {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .title {
        display: flex;
        font-weight: 600;
        letter-spacing: .08rem;
        text-transform: uppercase;
    }
    .nav {
        margin-left: auto;
        display: flex;
        padding: 0;
        list-style-type: none;
        font-size: 1.6rem;
        text-transform: lowercase;
        flex-wrap: wrap;
        justify-content: center;
    }
    li + li {
        margin-left: 1.3rem;
    }
}