.colorbox {
    margin-bottom: .3rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    border: .1rem solid $color-primary;
    cursor: default;
}

// table of contents

.toc {
    padding: 1rem 2rem;
    display: table;
    border: .1rem solid $color-border;
    font-size: 1.6rem;
    background: $color-shade;
    > p {
        margin: 0;
        ~ ul, ~ ol {
            margin-top: .4rem !important;
        }
    }
    ul, ol {
        margin-top: 0 !important;
    }
}

#markdown-toc {
    margin-bottom: .5rem;
}

// work in progress
.wip {
    width: 100%;
    display: inline-block;
    font-size: 1.4rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    p {
        margin: 0;
        &:first-of-type {
            color: $color-secondary;
        }
        &:last-of-type {
            text-align: right;
        }
    }
    div {
        background: $color-border;
        margin: .8rem 0 .5rem 0;
        div {
            background: $color-secondary;
            margin: 0;
            height: 1.5rem;
            cursor: default;
        }
    }
}

// image containers
.figure {
    margin: 0 auto 2rem auto;
    color: $color-secondary;
    font-size: 1.4rem;
    overflow: hidden;
    a {
        max-width: inherit;
    }
    img {
        max-height: 469px;
        border: .1rem solid $color-border;
        box-sizing: border-box;
    }
    &.left, &.right {
        max-width: 280px;
        img {
            max-width: inherit;
        }
    }
    &.left {
        margin-right: 2rem;
    }
    &.right {
        margin-left: 2rem;
    }
    p {
        margin: 0;
    }
}