/* theme — created with Material Design 3 */
/* use https://www.figma.com/community/plugin/1034969338659738588/Material-Theme-Builder to generate a new theme */

/* Neutral-Variant */
$NV100: #ffffff;
$NV99: #fdfbff;
$NV95: #eff0fa;
$NV90: #e0e2ec;
$NV80: #c4c6d0;
$NV70: #a9abb4;
$NV60: #8e9099;
$NV50: #74777f;
$NV40: #5b5e66;
$NV30: #44474e;
$NV20: #2d3038;
$NV10: #181c22;
$NV0: #000000;