.page {
    > .content {
        overflow: hidden;
        margin: 0 auto;
        h1, h2, h3, h4, h5 {
            + ul, + ol, + dl {
                margin: 1rem 0 1.6rem 0;
            }
        }
        p {
            + p {
                text-indent: 4rem;
            }
            + ul, + ol, +.arrow {
                margin-top: -.5rem;
            }
        }
        ul, ol {
            text-align: justify;
            hyphens: auto;
            ul, ol {
                // adds a space between two lists
                &.margin {
                    margin-top: 1rem;
                }
            }
        }
        // table classes
        .table {
            overflow-x: auto;
            margin-bottom: 1.5rem;
            table {
                width: 100%;
                border-collapse: collapse;
                text-align: left;
                hyphens: none;
                th, td {
                    padding: 1rem;
                    border: .1rem solid $color-border;
                    vertical-align: top;
                }
                th {
                    background: $color-shade;
                }
                &.center {
                    text-align: center;
                }
                &.small {
                    th, td {
                        padding: .4rem .8rem;
                        font-size: 1.4rem;
                    }
                }
                // borderless cells
                &.blc {
                    border: .1rem solid $color-border;
                }
                &.borderless, &.blc {
                    th, td {
                        border: 0;
                    }
                }
                &.compact {
                    width: auto;
                }
                &.infobox {
                    th, td {
                        &[colspan="2"] {
                            text-align: center;
                        }
                    }
                    th {
                        font-size: 1.9rem;
                    }
                }
            }
        }
        &.post, &.story {
            h1 {
                margin-bottom: .8rem;
                + p {
                    margin: 0 0 1.6rem 0;
                    color: $color-secondary;
                    font-size: 1.6rem;
                }
            }
        }
        &.post {
            h1 {
                + p {
                    margin-bottom: 2rem;
                    a {
                        text-transform: capitalize;
                    }
                    + p {
                        text-indent: 0;
                    }
                }
            }
        }
        &.story {
            h1, h1 + p {
                font-weight: normal;
                text-align: center;
            }
            .previous {
                float: left;
                text-align: left;
                &.next {
                    float: right;
                    text-align: right;
                }
            }
        }
        // blog excerpt
        .excerpt {
            margin-bottom: 2.4rem;
            padding: 1.8rem 3.6rem;
            border: .1rem solid $color-border;
            background: $color-shade;
            h2 {
                margin: 1rem 0 .8rem 0;
                + p {
                    margin: 0 0 1.6rem 0;
                    color: $color-secondary;
                    font-size: 1.6rem;
                }
            }
            p {
                text-indent: 0 !important;
            }
            .readMore {
                font-size: 1.6rem;
                text-align: right;
            }
            + .previous, + .next {
                font-size: 1.6rem;
            }
            + .next {
                text-align: right;
            }
        }
    }
}