@media only screen and (max-width: 800px) {
    :root {
        font-size: 55%;
    }
    .content {
        width: auto;
    }
    .left, .right {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .home {
        padding: 0 3rem;
    }
    .header {
        .content, .footer .content {
            flex-direction: column;
        }
        .title {
            margin: 1.5rem 0 0 0;
        }
        .nav {
            margin: .5rem 0 1.5rem 0;
        }
        li, li + li {
            margin: 0 .8rem;
        }
    }
    .page .content {
        padding: 0 3rem;
        table {
            font-size: 1.4rem;
        }
        th, td {
            padding: .8rem;
        }
    }
    // floatLeft is legacy, remove in v2
    table.floatLeft, table.left {
        margin-left: auto;
        margin-right: auto;
    }
    .figure {
        &.left, &.right {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
        }
    }
    .footer {
        .content {
            align-items: center;
        }
        .info ~ p {
            margin-top: 1.2rem;
            + p {
                margin-top: .6rem;
            }
        }
        li {
            margin: 0 .5rem;
        }
    }
}