@media only screen and (max-width: 800px) {
    :root {
        font-size: 50%;
    }
    .content {
        width: auto;
    }
    .home {
        padding: 0 3rem;
        h1, .header .title {
            line-height: 1.1;
        }
    }
    .header {
        .content, .footer .content {
            flex-direction: column;
        }
        .title {
            margin: 1.5rem 0 0 0;
            line-height: 1.2;
        }
        .nav {
            margin: .5rem 0 1.5rem 0;
        }
        li, li + li {
            margin: 0 .8rem;
        }
    }
    .page .content {
        padding: 0 3rem;
        table {
            font-size: 1.4rem;
        }
        th, td {
            padding: .8rem;
        }
    }
    table.floatLeft {
        float: none;
        margin: 0 auto;
    }
    .footer {
        .content {
            align-items: center;
        }
        li {
            margin: 0 .5rem;
        }
    }
}